---
import { Button } from '@components/Buttons/Button/Button';
import tutorialkitImg from '@assets/tutorialkit-preview.png';
---

<div class="simple-page-hero">
  <div class="main">
    <h1>Increase Library Adoption with Interactive Coding Tutorials.</h1>
    <p>
      TutorialKit by <a href="https://stackblitz.com" target="_blank" rel="noopener">StackBlitz</a> enables you to create
      interactive coding tutorials effortlessly, boosting the adoption of your framework, UI library or design system.
    </p>
    <div class="simple-page-hero__links">
      <Button url="/guides/about/" theme="accent">Get Started</Button>
      <Button url="https://demo.tutorialkit.dev">Try Demo</Button>
    </div>
  </div>
  <div class="ui-example">
    <a href="https://demo.tutorialkit.dev" target="_blank">
      <img src={tutorialkitImg.src} />
    </a>
  </div>
</div>

<style lang="scss">
  @import '../../styles/breakpoints.scss';

  :global(body) {
    --sl-content-width: 75rem;
  }

  .simple-page-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 48px;
    max-width: 100%;
    margin: 9dvh auto 6dvh;

    @media screen and (max-width: $breakpoint-tablet-small) {
      display: block;
      padding: 0 24px;
    }

    @media screen and (max-width: $breakpoint-small) {
      margin-top: 52px;
      padding: 0;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      margin-top: 24px;
    }
  }

  .simple-page-hero .main {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (max-width: $breakpoint-tablet-small) {
      gap: 12px;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      gap: 8px;
    }
  }

  .simple-page-hero h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -2px;

    @media screen and (max-width: $breakpoint-tablet-small) {
      max-width: 620px;
      font-size: 40px;
      letter-spacing: -1px;
      text-align: center;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 28px;
      line-height: 1.2;
    }
  }

  .simple-page-hero p {
    max-width: 680px;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 1em;

    @media screen and (max-width: $breakpoint-tablet-small) {
      max-width: 680px;
      text-wrap: pretty;
      text-align: center;
    }

    @media screen and (max-width: $breakpoint-small) {
      font-size: 15px;
      line-height: 1.72;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 14px;
    }

    a {
      color: var(--sl-color-text);
      text-decoration: none;
      transition: var(--transition-fast);
      transition-property: color;
      &:hover {
        color: var(--custom-color-text-strong);
      }
    }
  }

  .simple-page-hero__links {
    display: flex;
    justify-content: center;
    gap: 44px;

    @media screen and (max-width: $breakpoint-mobile) {
      width: 100%;
      flex-direction: column;
    }

    :global(> *) {
      @media screen and (max-width: $breakpoint-mobile) {
        margin: 0 auto;
      }
    }
  }

  .ui-example {
    width: 100%;
    mask-image: radial-gradient(160% 100% at 50% 0%, #000 70%, transparent);
    overflow: visible;

    html[data-theme='light'] & {
      mask-image: none;
    }

    @media screen and (max-width: $breakpoint-small) {
      top: 524px;
    }

    a {
      display: block;
      transition: all 0.1s ease-in-out;
      transform-origin: 0 150%;
      scale: 0.98;
    }

    a:hover {
      scale: 1;
    }

    img {
      transition: all 0.2s ease-in-out;
      border-radius: 6px;

      @media screen and (max-width: $breakpoint-mobile) {
        border-radius: 0;
      }
    }
  }
</style>
