---
import { classNames } from '@tutorialkit/react';
import '@tutorialkit/astro/default-theme.css';

interface Props {
  className?: string;
  previewClassName?: string;
}

const { className, previewClassName } = Astro.props;
---

<div class={classNames('not-content react-example overflow-hidden', className)}>
  <div
    class={classNames(
      'border border-[var(--ec-brdCol)] border-b-transparent border-solid rounded-t overflow-y-auto',
      previewClassName,
    )}
  >
    <slot name="preview" />
  </div>

  <slot name="code" />
</div>
