<!-- WIP -->
<main>
  <nav>
    <div class="logo">TutorialKit</div>
  </nav>

  <section class="left">
    <nav>
      <a
        ><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="m7.85 13l2.85 2.85q.3.3.288.7t-.288.7q-.3.3-.712.313t-.713-.288L4.7 12.7q-.3-.3-.3-.7t.3-.7l4.575-4.575q.3-.3.713-.287t.712.312q.275.3.288.7t-.288.7L7.85 11H19q.425 0 .713.288T20 12t-.288.713T19 13z"
          ></path></svg
        ></a
      >
      <div class="breadcrumbs">Basics / The first chapter in part 1 / Welcome to TutorialKit</div>
      <a
        ><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
          ><path
            fill="currentColor"
            d="M16.15 13H5q-.425 0-.712-.288T4 12t.288-.712T5 11h11.15L13.3 8.15q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L19.3 11.3q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.575 4.575q-.3.3-.712.288t-.713-.313q-.275-.3-.288-.7t.288-.7z"
          ></path></svg
        ></a
      >
    </nav>

    <div class="content">
      <h1>Hello world</h1>
      <p>Welcome to our first lesson!</p>
    </div>
  </section>

  <section class="right"></section>
</main>

<style>
  .logo {
    font-weight: bold;
  }
</style>
