.AccordionTrigger[data-state='open'] .AccordionTriggerIcon {
  --un-rotate: 90deg;
}

.AccordionTrigger {
  --at-apply: text-tk-elements-breadcrumbs-dropdown-accordionTextColor;
}

.AccordionTrigger.AccordionTriggerActive {
  --at-apply: text-tk-elements-breadcrumbs-dropdown-accordionTextColorSelected;
}

.AccordionTrigger:hover {
  --at-apply: text-tk-elements-breadcrumbs-dropdown-accordionTextColorHover;
}

.AccordionTrigger .AccordionTriggerIcon {
  --at-apply: transition-color duration-100 text-tk-elements-breadcrumbs-dropdown-accordionIconColor;
}

.AccordionTrigger.AccordionTriggerActive .AccordionTriggerIcon {
  --at-apply: text-tk-elements-breadcrumbs-dropdown-accordionIconColorSelected;
}

.AccordionTrigger:hover .AccordionTriggerIcon {
  --at-apply: text-tk-elements-breadcrumbs-dropdown-accordionIconColorHover;
}

.AccordionContent {
  overflow: hidden;
}

.AccordionContent[data-state='open'] {
  animation: slideDown 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.AccordionContent[data-state='closed'] {
  animation: slideUp 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.NavContainer:hover {
  --at-apply: transition-theme border-tk-elements-breadcrumbs-toggleButton-borderColorHover;
}

.NavContainer[data-state='closed']:not(:hover) {
  --at-apply: transition-theme border-tk-elements-breadcrumbs-toggleButton-borderColor;
}

.NavContainer[data-state='open']:not(:hover) {
  --at-apply: transition-theme border-tk-elements-breadcrumbs-toggleButton-borderColorSelected;
}

.NavContainer .ToggleButton:hover {
  --at-apply: transition-theme bg-tk-elements-breadcrumbs-toggleButton-backgroundColorHover
    text-tk-elements-breadcrumbs-toggleButton-textColorHover;
}

.NavContainer[data-state='closed'] .ToggleButton:not(:hover) {
  --at-apply: transition-theme bg-tk-elements-breadcrumbs-toggleButton-backgroundColor
    text-tk-elements-breadcrumbs-toggleButton-textColor;
}

.NavContainer[data-state='open'] .ToggleButton:not(:hover) {
  --at-apply: transition-theme bg-tk-elements-breadcrumbs-toggleButton-backgroundColorSelected
    text-tk-elements-breadcrumbs-toggleButton-textColorSelected;
}

.NavContainer[data-state='closed'] .ToggleButton:not(:hover) .Divider {
  --at-apply: text-tk-elements-breadcrumbs-toggleButton-textDividerColor;
}

.NavContainer[data-state='open'] .ToggleButton:not(:hover) .Divider {
  --at-apply: text-tk-elements-breadcrumbs-toggleButton-textDividerColorSelected;
}

.NavContainer .ToggleButton:hover .Divider {
  --at-apply: text-tk-elements-breadcrumbs-toggleButton-textDividerColorHover;
}

.ToggleButton .ToggleButtonIcon {
  --at-apply: text-tk-elements-breadcrumbs-toggleButton-iconColor;
}

.ToggleButton:hover .ToggleButtonIcon {
  --at-apply: text-tk-elements-breadcrumbs-toggleButton-iconColorHover;
}

.NavContainer[data-state='open'] .ToggleButton:not(:hover) .ToggleButtonIcon {
  --at-apply: text-tk-elements-breadcrumbs-toggleButton-iconColorSelected;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
