---
import type { LessonLink } from '@entities/tutorial';

interface Props {
  lesson: LessonLink;
  type: 'next' | 'prev';
}

const { lesson, type } = Astro.props;
---

<a
  class:list={[
    'flex flex-col bg-white flex-1 p-4 border border-gray-100 rounded-md hover:border-primary-700 hover:bg-primary-700/5 cursor-pointer transition-[background-color,border] duration-100',
    { 'text-right items-end': type === 'next' },
  ]}
  href={lesson.href}
>
  <span
    class=`${type === 'prev' ? 'i-ph-arrow-left' : 'i-ph-arrow-right' } pointer-events-none h-7 w-7 mb-2 text-primary-700`
  ></span>
  <span class="line-clamp-2">{lesson.data.title}</span>
</a>
