---
import type { Lesson } from '@entities/tutorial';
import '@styles/markdown.css';

interface Props {
  lesson: Lesson;
}

const {
  lesson: { Markdown },
} = Astro.props;
---

<div class="markdown-content">
  <Markdown />
</div>
