$breakpoint-larger: 1440px;
$breakpoint-tablet: 1024px;
$breakpoint-tablet-small: 860px;
$breakpoint-tablet-smaller: 770px;
$breakpoint-small: 640px;
$breakpoint-mobile: 500px;
$breakpoint-tiny: 360px;
